[Unit]
Description=gumby

[Service]
User=gumby
EnvironmentFile=/etc/default/gumby
ExecStart=/opt/gumby/live/build/gumby
WorkingDirectory=/var/lib/gumby
Restart=always

[Install]
WantedBy=multi-user.target
